Repository liuhaozhan/tracing, changes with the labels that .github/labeler.yml gives for each.
All labels: crate/tracing, crate/core, crate/proc-macros, crate/fmt, crate/futures, crate/log, crate/subscriber

core: impl `Value` for `dyn Error + Send/Sync` (#2066)
  examples/examples/fmt/yak_shave.rs
  tracing-core/src/field.rs
Labels: crate/core

tracing: fix the "log" feature making async block futures `!Send` (#2073)
  tracing/src/lib.rs
  tracing/src/macros.rs
  tracing/src/span.rs
  tracing/test-log-support/src/lib.rs
  tracing/test-log-support/tests/log_no_trace.rs
  tracing/test-log-support/tests/log_with_trace.rs
  tracing/test-log-support/tests/span_activity_filtered_separately.rs
  tracing/test-log-support/tests/span_lifecycle_can_be_enabled.rs
  tracing/tests/future_send.rs
Labels: crate/tracing

core: add `Value` impl for `Box<T> where T: Value` (#2071)
  tracing-core/src/field.rs
Labels: crate/core

core: document the `callsite` module (#2088)
  tracing-core/src/callsite.rs
  tracing-core/src/collect.rs
Labels: crate/core

attributes: remove extra braces around `async` blocks (#2090)
  tracing-attributes/src/expand.rs
  tracing-attributes/tests/async_fn.rs
Labels: crate/proc-macros

attributes: permit setting parent span via `#[instrument(parent = …)]` (#2091)
  tracing-attributes/src/attr.rs
  tracing-attributes/src/expand.rs
  tracing-attributes/src/lib.rs
  tracing-attributes/tests/parents.rs
Labels: crate/proc-macros

attributes: permit `#[instrument(follows_from = …)]` (#2093)
  tracing-attributes/src/attr.rs
  tracing-attributes/src/expand.rs
  tracing-attributes/src/lib.rs
  tracing-attributes/tests/follows_from.rs
  tracing-mock/src/collector.rs
Labels: crate/proc-macros

opentelemetry: fix event source locations (#2099)
  tracing-opentelemetry/src/subscriber.rs
Labels: none

subscriber: don't enable `tracing-core` features by default (#2107)
  tracing-subscriber/Cargo.toml
Labels: crate/subscriber

chore(deps): update tokio-test requirement from 0.2.0 to 0.3.0 (#1379)
  tracing-attributes/Cargo.toml
  tracing-futures/Cargo.toml
  tracing-mock/Cargo.toml
Labels: crate/proc-macros, crate/futures

journald: disable default features of tracing-subscriber (#1476)
  tracing-journald/Cargo.toml
Labels: none

Add additional information to references of my_crate in env_filter docs. (#1088)
  tracing-subscriber/src/filter/env/mod.rs
Labels: crate/subscriber

fix opentelemetry example (#2110)
  examples/examples/opentelemetry.rs
Labels: none

error: add missing backtick to `prelude` docs (#2120)
  tracing-error/src/lib.rs
Labels: none

docs: added missing periods to `with_thread_{names, ids}` (#2126)
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/fmt/format/mod.rs
  tracing-subscriber/src/fmt/mod.rs
Labels: crate/subscriber

opentelemetry: enforce event_location for span tags (#2124)
  tracing-opentelemetry/src/subscriber.rs
Labels: none

appender: add initial set of benches (#2128)
  tracing-appender/Cargo.toml
  tracing-appender/benches/bench.rs
  tracing/src/macros.rs
Labels: crate/tracing

docs: remove incorrect MSRV note (#2137)
  tracing/src/lib.rs
Labels: crate/tracing

opentelemetry: add support for thread names/ids (#2134)
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/src/subscriber.rs
Labels: none

chore(deps): update parking_lot requirement from >= 0.9.0, <= 0.12 to >= 0.9.0, <= 0.13 (#2143)
  tracing-subscriber/Cargo.toml
Labels: crate/subscriber

core, subscriber: migrate from `lazy_static` to `once_cell` (#2147)
  tracing-core/Cargo.toml
  tracing-core/src/callsite.rs
  tracing-core/src/dispatch.rs
  tracing-flame/Cargo.toml
  tracing-flame/src/lib.rs
  tracing-log/Cargo.toml
  tracing-log/src/lib.rs
  tracing-subscriber/Cargo.toml
  tracing-subscriber/src/filter/env/directive.rs
Labels: crate/core, crate/log, crate/subscriber

opentelemetry: add more comments to example (#2140)
  examples/examples/opentelemetry.rs
Labels: none

chore: `bin/publish` shell script fixes (#2162)
  bin/publish
Labels: none

core, subscriber: more `downcast_ref` & `is` methods (#2160)
  tracing-core/src/collect.rs
  tracing-subscriber/src/subscribe/layered.rs
Labels: crate/core, crate/subscriber

subscriber: implement `FIlter` for `reload::Subscriber` (#2159)
  tracing-subscriber/src/reload.rs
  tracing-subscriber/tests/reload.rs
Labels: crate/subscriber

docs: add tracing-logfmt to related crates (#2163)
  README.md
  tracing/README.md
  tracing/src/lib.rs
Labels: crate/tracing

core: `impl field::Value for String` (#2164)
  tracing-attributes/tests/fields.rs
  tracing-core/src/field.rs
  tracing/tests/event.rs
Labels: crate/tracing, crate/core, crate/proc-macros

core: `impl<C: Collect + ?Sized> Collect` for `Box<C>`, `Arc<C>` (#2161)
  tracing-core/src/collect.rs
Labels: crate/core

core: add support for recording 128-bit integers (#2166)
  tracing-core/src/field.rs
Labels: crate/core

core, subscriber: add `event_enabled` to filter events on fields (#2008)
  tracing-core/src/collect.rs
  tracing-core/src/dispatch.rs
  tracing-subscriber/src/fmt/mod.rs
  tracing-subscriber/src/reload.rs
  tracing-subscriber/src/subscribe/layered.rs
  tracing-subscriber/src/subscribe/mod.rs
  tracing-subscriber/tests/event_enabling.rs
Labels: crate/core, crate/subscriber

chore(ci): run MSRV checks with minimal versions (#2171)
  .github/workflows/check_msrv.yml
  tracing-futures/Cargo.toml
  tracing-futures/src/lib.rs
  tracing-subscriber/Cargo.toml
Labels: crate/futures, crate/subscriber

chore(ci): test workflow embetterments (#2176)
  .config/nextest.toml
  .github/workflows/CI.yml
  .github/workflows/check.yml
  .github/workflows/check_features.yml
  .github/workflows/check_msrv.yml
  .github/workflows/test_os.yml
  .github/workflows/test_versions.yml
  .github/workflows/test_wasm.yml
  tracing-futures/Cargo.toml
  tracing-futures/src/executor/futures_01.rs
  tracing-mock/Cargo.toml
Labels: crate/futures

tracing: reorganize benchmarks for comparability (#2178)
  tracing/Cargo.toml
  tracing/benches/baseline.rs
  tracing/benches/dispatch_get_clone.rs
  tracing/benches/dispatch_get_ref.rs
  tracing/benches/empty_span.rs
  tracing/benches/enter_span.rs
  tracing/benches/event.rs
  tracing/benches/global_subscriber.rs
  tracing/benches/no_subscriber.rs
  tracing/benches/shared.rs
  tracing/benches/span_fields.rs
  tracing/benches/span_no_fields.rs
  tracing/benches/span_repeated.rs
  tracing/benches/subscriber.rs
Labels: crate/tracing

tracing: document that `event_enabled!` does not call `Collect::event_enabled` (#2179)
  tracing/src/macros.rs
Labels: crate/tracing

subscriber: fix clippy lints (#2191)
  tracing-opentelemetry/benches/trace.rs
  tracing-subscriber/src/subscribe/layered.rs
  tracing-subscriber/tests/registry_with_subscriber.rs
Labels: crate/subscriber

core: fix elided lifetime clippy lint in test
  tracing-core/src/callsite.rs
Labels: crate/core

docs: update dev chat link (#2188)
  CONTRIBUTING.md
Labels: none

subscriber: fix clippy unused lifetime lint
  tracing-subscriber/src/fmt/format/mod.rs
Labels: crate/subscriber

subscriber: `<None as Subscribe>::event_enabled` should be `true` (#2193)
  tracing-subscriber/src/subscribe/mod.rs
Labels: crate/subscriber

subscriber: fix `max_level_hint` for empty `Option`/`Vec` `Subscribe` impls (#2195)
  tracing-subscriber/src/subscribe/mod.rs
  tracing-subscriber/tests/option.rs
  tracing-subscriber/tests/subscriber_filters/vec.rs
  tracing-subscriber/tests/vec.rs
Labels: crate/subscriber

.github/labeler.yml:

crate/tracing: tracing/**
crate/core: tracing-core/**
crate/proc-macros: tracing-attributes/**
crate/fmt: tracing-fmt/**
crate/futures: tracing-futures/**
crate/log: tracing-log/**
crate/subscriber: tracing-subscriber/**
