Repository liuhaozhan/tracing, changes with the labels that .github/labeler.yml gives for each.
All labels: crate/tracing, crate/core, crate/proc-macros, crate/fmt, crate/futures, crate/log, crate/subscriber

attributes: ensure `res` and `err` events inherit `target` (#2184)
  tracing-attributes/Cargo.toml
  tracing-attributes/src/expand.rs
  tracing-attributes/src/lib.rs
  tracing-attributes/tests/err.rs
  tracing-attributes/tests/ret.rs
Labels: crate/proc-macros

chore(bin): fix `bin/publish` script running `cargo publish` twice
  bin/publish
Labels: none

subscriber: pass through `max_level_hint` in `reload` (#2204)
  tracing-subscriber/src/reload.rs
  tracing-subscriber/tests/reload.rs
Labels: crate/subscriber

opentelemetry: support publishing metrics (#2185)
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/tests/metrics_publishing.rs
Labels: none

chore(ci): update actions/checkout action to v3 (#2213)
  .github/workflows/CI.yml
  .github/workflows/audit.yml
  .github/workflows/release.yml
Labels: none

docs: remove hard coded version link from readme (#2208)
  tracing/README.md
Labels: crate/tracing

appender: name spawned thread (#2219)
  tracing-appender/src/worker.rs
Labels: none

tracing: allow owned values and fat pointers in `Span::record` (#2212)
  tracing/src/span.rs
Labels: crate/tracing

core: remove misleading dispatcher docs (#2220)
  tracing/src/collect.rs
Labels: crate/tracing

appender: add a builder for constructing `RollingFileAppender`s (#2227)
  tracing-appender/Cargo.toml
  tracing-appender/src/rolling.rs
  tracing-appender/src/rolling/builder.rs
Labels: none

core: implement `PartialEq`, `Eq` for `Metadata`, `FieldSet` (#2229)
  tracing-core/src/callsite.rs
  tracing-core/src/field.rs
  tracing-core/src/metadata.rs
Labels: crate/core

chore: fix minimal-versions correctness (#2231)
  examples/Cargo.toml
  tracing-appender/Cargo.toml
  tracing-attributes/Cargo.toml
  tracing-core/Cargo.toml
  tracing-flame/Cargo.toml
  tracing-futures/Cargo.toml
  tracing-journald/Cargo.toml
  tracing-journald/src/lib.rs
  tracing-log/Cargo.toml
  tracing-mock/Cargo.toml
  tracing-opentelemetry/Cargo.toml
  tracing-serde/Cargo.toml
  tracing-subscriber/Cargo.toml
  tracing-tower/Cargo.toml
  tracing/Cargo.toml
Labels: crate/tracing, crate/core, crate/proc-macros, crate/futures, crate/log, crate/subscriber

appender: add `Builder::filename_suffix` parameter (#2225)
  tracing-appender/src/rolling.rs
  tracing-appender/src/rolling/builder.rs
Labels: none

subscriber: mark builders as must_use (#2239)
  tracing-subscriber/src/filter/env/builder.rs
  tracing-subscriber/src/fmt/mod.rs
Labels: crate/subscriber

opentelemetry: feature-flag `MetricsSubscriber` (#2234)
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/README.md
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/tests/metrics_publishing.rs
Labels: none

subscriber: add `Targets::default_level` method (#2242)
  tracing-subscriber/src/filter/targets.rs
Labels: crate/subscriber

subscriber: impl `LookupSpan` for `Box<LS>` and `Arc<LS>` (#2247)
  tracing-subscriber/src/registry/mod.rs
  tracing-subscriber/src/subscribe/mod.rs
Labels: crate/subscriber

serde: implement `AsSerde` for `FieldSet` (#2241)
  tracing-serde/src/lib.rs
Labels: none

subscriber: add `Filter::event_enabled` (#2245)
  tracing-subscriber/src/filter/subscriber_filters/combinator.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
  tracing-subscriber/src/registry/sharded.rs
  tracing-subscriber/src/subscribe/mod.rs
  tracing-subscriber/tests/subscriber_filters/main.rs
  tracing-subscriber/tests/subscriber_filters/per_event.rs
Labels: crate/subscriber

subscriber: `Not` is `not`, not `or` (#2249)
  tracing-subscriber/src/filter/subscriber_filters/combinator.rs
Labels: crate/subscriber

core: give `SetGlobalDefaultError` a useful `Debug` impl (#2250)
  tracing-core/src/dispatch.rs
Labels: crate/core

chore: refactor CI msrv & minver checks (#2238)
  .github/workflows/CI.yml
Labels: none

subscriber: clarify `filter.not()` docs w.r.t. event_enabled (#2251)
  tracing-subscriber/src/filter/subscriber_filters/combinator.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
Labels: crate/subscriber

subscriber: add `must_use` for `CollectorBuilder::finish` (#2271)
  tracing-subscriber/src/fmt/mod.rs
Labels: crate/subscriber

chore: fix `clippy::borrow_deref_ref` lints (#2277)
  examples/examples/futures-proxy-server.rs
  tracing-attributes/src/expand.rs
  tracing-core/src/dispatch.rs
  tracing-error/src/error.rs
Labels: crate/core, crate/proc-macros

docs: add tracing-chrome to list of related crates (#2275)
  README.md
Labels: none

subscriber: update tracing-subscriber version in README (#2273)
  README.md
Labels: none

docs: correct grammar in README (#2260)
  README.md
Labels: none

attributes: add fake return to improve span on type error (#2270)
  tracing-attributes/Cargo.toml
  tracing-attributes/src/expand.rs
  tracing-attributes/tests/ui.rs
  tracing-attributes/tests/ui/async_instrument.rs
  tracing-attributes/tests/ui/async_instrument.stderr
Labels: crate/proc-macros

subscriber: say which crate the disabled level warning refers to (#2285)
  tracing-subscriber/src/filter/env/builder.rs
Labels: crate/subscriber

core: add `{Collect,Subscriber}::on_register_dispatch` (#2269)
  tracing-core/src/callsite.rs
  tracing-core/src/collect.rs
  tracing-core/src/dispatch.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
  tracing-subscriber/src/reload.rs
  tracing-subscriber/src/subscribe/layered.rs
  tracing-subscriber/src/subscribe/mod.rs
Labels: crate/core, crate/subscriber

subscriber: Add `SubscriberBuilder`/`Layer` accessors (#1871)
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/fmt/mod.rs
Labels: crate/subscriber

subscriber: if error occurs when formatting event, write error to Writer (#2102)
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/fmt/mod.rs
Labels: crate/subscriber

tracing: add `tracing-web` to the list of related crates (#2283)
  README.md
  tracing/src/lib.rs
Labels: crate/tracing

subscriber: replace unmaintained `ansi_term` with `nu-ansi-term` (#2287)
  .github/workflows/CI.yml
  examples/Cargo.toml
  examples/examples/sloggish/sloggish_collector.rs
  tracing-subscriber/Cargo.toml
  tracing-subscriber/README.md
  tracing-subscriber/src/filter/env/builder.rs
  tracing-subscriber/src/fmt/format/mod.rs
  tracing-subscriber/src/fmt/format/pretty.rs
  tracing-subscriber/src/lib.rs
Labels: crate/subscriber

opentelemetry: fix `on_event` not respecting events' explicit parents (#2296)
  tracing-opentelemetry/src/subscriber.rs
Labels: none

opentelemetry: update otel to 0.18.0 (#2303)
  .github/workflows/CI.yml
  examples/Cargo.toml
  examples/examples/opentelemetry.rs
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/README.md
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/src/subscriber.rs
  tracing-opentelemetry/src/tracer.rs
  tracing-opentelemetry/tests/metrics_publishing.rs
  tracing-opentelemetry/tests/trace_state_propagation.rs
Labels: none

opentelemetry: add semconv exception fields (#2310)
  tracing-opentelemetry/src/subscriber.rs
Labels: none

tracing: add `dyn` keyword for trait objects in `valueset!` expansion (#2308)
  tracing/src/macros.rs
Labels: crate/tracing

attributes: suppress dead code warnings for compile tests (#2322)
  tracing-attributes/tests/async_fn.rs
Labels: crate/proc-macros

.github/labeler.yml:

crate/tracing: tracing/**
crate/core: tracing-core/**
crate/proc-macros: tracing-attributes/**
crate/fmt: tracing-fmt/**
crate/futures: tracing-futures/**
crate/log: tracing-log/**
crate/subscriber: tracing-subscriber/**
