Repository liuhaozhan/tracing, changes with the labels that .github/labeler.yml gives for each.
All labels: crate/tracing, crate/core, crate/proc-macros, crate/fmt, crate/futures, crate/log, crate/subscriber

.github/labeler.yml:

crate/tracing: tracing/**
crate/core: tracing-core/**
crate/proc-macros: tracing-attributes/**
crate/fmt: tracing-fmt/**
crate/futures: tracing-futures/**
crate/log: tracing-log/**
crate/subscriber: tracing-subscriber/**

attributes: update trybuild output for Rust 1.64.0 (#2322)
  tracing-attributes/tests/ui/async_instrument.stderr
Labels: crate/proc-macros

core: add `Dispatch::downgrade()` and `WeakDispatch` (#2293)
  tracing-core/src/collect.rs
  tracing-core/src/dispatch.rs
  tracing-subscriber/src/subscribe/mod.rs
  tracing/src/dispatch.rs
Labels: crate/tracing, crate/core, crate/subscriber

appender: add option to automatically delete old log files (#2323)
  tracing-appender/Cargo.toml
  tracing-appender/src/rolling.rs
  tracing-appender/src/rolling/builder.rs
Labels: none

subscriber: fix `None` subscribers setting the max level to `OFF` (#2321)
  tracing-subscriber/src/reload.rs
  tracing-subscriber/src/subscribe/layered.rs
  tracing-subscriber/src/subscribe/mod.rs
  tracing-subscriber/tests/option.rs
Labels: crate/subscriber

opentelemetry: fix metrics docs using `value.` instead of `histogram.` (#2326)
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/tests/metrics_publishing.rs
Labels: none

tracing: add `reqwest-tracing` to related crates in README (#2331)
  README.md
  tracing/src/lib.rs
Labels: crate/tracing

attributes: fix handling of inner attributes (#2307)
  tracing-attributes/src/expand.rs
  tracing-attributes/src/lib.rs
  tracing-attributes/tests/async_fn.rs
  tracing-attributes/tests/instrument.rs
Labels: crate/proc-macros

chore: allow renamed and removed lints on docs build (#2344)
  netlify.toml
Labels: none

subscriber: impl `fmt::Display` for `filter::Targets` (#2343)
  tracing-subscriber/src/filter/targets.rs
Labels: crate/subscriber

attributes: support custom levels for `ret` and `err` (#2335)
  tracing-attributes/src/attr.rs
  tracing-attributes/src/expand.rs
  tracing-attributes/src/lib.rs
  tracing-attributes/tests/err.rs
  tracing-attributes/tests/ret.rs
Labels: crate/proc-macros

attributes: improve docs; tests for using Levels in `#[instrument]` (#2350)
  tracing-appender/src/lib.rs
  tracing-attributes/Cargo.toml
  tracing-attributes/src/lib.rs
  tracing-attributes/tests/instrument.rs
  tracing-attributes/tests/levels.rs
  tracing-core/src/field.rs
  tracing-core/src/lib.rs
  tracing-error/src/lib.rs
  tracing-flame/src/lib.rs
  tracing-futures/src/executor/mod.rs
  tracing-futures/src/lib.rs
  tracing-log/src/lib.rs
  tracing-serde/src/lib.rs
  tracing-subscriber/src/lib.rs
  tracing-tower/src/lib.rs
  tracing/src/field.rs
  tracing/src/lib.rs
Labels: crate/tracing, crate/core, crate/proc-macros, crate/futures, crate/log, crate/subscriber

chore: track Rust 1.65 clippy lints (#2366)
  clippy.toml
  tracing-attributes/src/expand.rs
  tracing-core/src/dispatch.rs
  tracing-subscriber/benches/support/mod.rs
  tracing-subscriber/src/fmt/format/json.rs
  tracing-subscriber/src/registry/sharded.rs
  tracing-subscriber/tests/field_filter.rs
  tracing/src/span.rs
  tracing/tests/span.rs
Labels: crate/tracing, crate/core, crate/proc-macros, crate/subscriber

subscriber: fix wrong `doc_cfg` attribute (#2368)
  tracing-subscriber/src/fmt/time/mod.rs
Labels: crate/subscriber

appender: allow worker thread name to be configured (#2365)
  tracing-appender/src/non_blocking.rs
  tracing-appender/src/worker.rs
Labels: none

attributes: allow `clippy::unreachable` warning (#2356)
  tracing-attributes/src/expand.rs
Labels: crate/proc-macros

mock: move subscriber mock from tracing-subscriber tests (#2369)
  tracing-mock/Cargo.toml
  tracing-mock/src/collector.rs
  tracing-mock/src/expectation.rs
  tracing-mock/src/lib.rs
  tracing-mock/src/subscriber.rs
  tracing-subscriber/Cargo.toml
  tracing-subscriber/tests/cached_subscriber_filters_dont_break_other_subscribers.rs
  tracing-subscriber/tests/env_filter/main.rs
  tracing-subscriber/tests/env_filter/per_subscriber.rs
  tracing-subscriber/tests/hinted_subscriber_filters_dont_break_other_subscribers.rs
  tracing-subscriber/tests/multiple_subscriber_filter_interests_cached.rs
  tracing-subscriber/tests/subscriber_filter_interests_are_cached.rs
  tracing-subscriber/tests/subscriber_filters/filter_scopes.rs
  tracing-subscriber/tests/subscriber_filters/main.rs
  tracing-subscriber/tests/subscriber_filters/per_event.rs
  tracing-subscriber/tests/subscriber_filters/trees.rs
  tracing-subscriber/tests/subscriber_filters/vec.rs
  tracing-subscriber/tests/unhinted_subscriber_filters_dont_break_other_subscribers.rs
  tracing-subscriber/tests/vec_subscriber_filter_interests_cached.rs
Labels: crate/subscriber

appender: Fix typo in RollingFileAppender docs (#2375)
  tracing-appender/src/rolling.rs
Labels: none

fix(docs): Remove accidentally duplicated words (#2378)
  tracing-subscriber/src/lib.rs
Labels: crate/subscriber
