Repository liuhaozhan/tracing, changes with the labels that .github/labeler.yml gives for each.
All labels: crate/tracing, crate/core, crate/proc-macros, crate/fmt, crate/futures, crate/log, crate/subscriber

.github/labeler.yml:

crate/tracing: tracing/**
crate/core: tracing-core/**
crate/proc-macros: tracing-attributes/**
crate/fmt: tracing-fmt/**
crate/futures: tracing-futures/**
crate/log: tracing-log/**
crate/subscriber: tracing-subscriber/**

core: derive `Default` for `NoCollector` (#1785)
  tracing-core/src/collect.rs
Labels: crate/core

core: make NoCollector pub and move it to tracing_core::collect (#1549)
  tracing-core/src/collect.rs
  tracing-core/src/dispatch.rs
Labels: crate/core

core: don't use NoCollector as local placeholder (#2001)
  tracing-core/src/dispatch.rs
  tracing/tests/no_collector.rs
Labels: crate/tracing, crate/core

chore: remove unused dev-dependencies (#2005)
  tracing/Cargo.toml
  tracing/src/span.rs
Labels: crate/tracing

docs: Add `tracing-loki` to "Related Crates" section (#2012)
  README.md
  tracing/README.md
  tracing/src/lib.rs
Labels: crate/tracing

tracing: clarify span enter docs warning (#2010)
  tracing/src/span.rs
Labels: crate/tracing

subscriber: add `Filter::on_{new_span, enter, exit, close}` (#1973)
  tracing-subscriber/src/filter/subscriber_filters/combinator.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
  tracing-subscriber/src/subscribe/mod.rs
Labels: crate/subscriber

subscriber: add `Targets::would_enable` (#1903
  tracing-subscriber/src/filter/targets.rs
Labels: crate/subscriber

subscriber: add `Targets::targets` method to iterate directives (#1574)
  tracing-subscriber/src/filter/directive.rs
  tracing-subscriber/src/filter/mod.rs
  tracing-subscriber/src/filter/targets.rs
  tracing-subscriber/tests/subscriber_filters/targets.rs
Labels: crate/subscriber

subscriber: clear per-subscriber interest when short circuiting (#1569)
  tracing-subscriber/src/subscribe/context.rs
  tracing-subscriber/src/subscribe/layered.rs
Labels: crate/subscriber

subscriber: fix `filter::ParseError` accidentally being renamed (#1558)
  tracing-subscriber/src/filter/directive.rs
  tracing-subscriber/src/filter/env/directive.rs
  tracing-subscriber/src/filter/env/mod.rs
  tracing-subscriber/src/filter/mod.rs
  tracing-subscriber/src/filter/targets.rs
Labels: crate/subscriber

subscriber: clear `enabled` filter map when short circuiting (#1575)
  tracing-subscriber/src/filter/subscriber_filters/combinator.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
  tracing-subscriber/src/reload.rs
  tracing-subscriber/src/subscribe/layered.rs
  tracing-subscriber/src/subscribe/mod.rs
Labels: crate/subscriber

subscriber: add `Targets` filter, a lighter-weight `EnvFilter ` (#1550)
  tracing-subscriber/src/filter/directive.rs
  tracing-subscriber/src/filter/env/directive.rs
  tracing-subscriber/src/filter/env/mod.rs
  tracing-subscriber/src/filter/mod.rs
  tracing-subscriber/src/filter/targets.rs
  tracing-subscriber/src/lib.rs
  tracing-subscriber/src/subscribe/mod.rs
  tracing-subscriber/tests/subscriber_filters/main.rs
  tracing-subscriber/tests/subscriber_filters/targets.rs
Labels: crate/subscriber

subscriber: don't use SmallVecs for filter fields (#1568)
  tracing-subscriber/src/filter/directive.rs
  tracing-subscriber/src/filter/env/directive.rs
  tracing-subscriber/src/filter/env/mod.rs
  tracing-subscriber/src/filter/targets.rs
Labels: crate/subscriber

subscriber: implement per-subscriber filtering (#1523)
  tracing-mock/src/collector.rs
  tracing-mock/src/event.rs
  tracing-mock/src/field.rs
  tracing-mock/src/metadata.rs
  tracing-mock/src/span.rs
  tracing-subscriber/src/filter/mod.rs
  tracing-subscriber/src/filter/subscriber_filters.rs
  tracing-subscriber/src/lib.rs
  tracing-subscriber/src/registry/mod.rs
  tracing-subscriber/src/registry/sharded.rs
  tracing-subscriber/src/registry/stack.rs
  tracing-subscriber/src/reload.rs
  tracing-subscriber/src/subscribe.rs
  tracing-subscriber/src/subscribe/context.rs
  tracing-subscriber/src/subscribe/layered.rs
  tracing-subscriber/src/subscribe/mod.rs
  tracing-subscriber/src/subscribe/tests.rs
  tracing-subscriber/tests/cached_subscriber_filters_dont_break_other_subscribers.rs
  tracing-subscriber/tests/hinted_subscriber_filters_dont_break_other_subscribers.rs
  tracing-subscriber/tests/multiple_subscriber_filter_interests_cached.rs
  tracing-subscriber/tests/subscriber_filter_interests_are_cached.rs
  tracing-subscriber/tests/subscriber_filters/combinators.rs
  tracing-subscriber/tests/subscriber_filters/filter_scopes.rs
  tracing-subscriber/tests/subscriber_filters/main.rs
  tracing-subscriber/tests/subscriber_filters/trees.rs
  tracing-subscriber/tests/support.rs
  tracing-subscriber/tests/unhinted_subscriber_filters_dont_break_other_subscribers.rs
  tracing/tests/event.rs
  tracing/tests/support/mod.rs
Labels: crate/tracing, crate/subscriber

subscriber: fix broken link in Targets rustdoc (#1972)
  tracing-subscriber/src/filter/targets.rs
Labels: crate/subscriber

subscriber: add minimal #![no_std] support (#1648)
  tracing-subscriber/src/filter/directive.rs
  tracing-subscriber/src/filter/env/mod.rs
  tracing-subscriber/src/filter/filter_fn.rs
  tracing-subscriber/src/filter/mod.rs
  tracing-subscriber/src/filter/targets.rs
  tracing-subscriber/src/lib.rs
  tracing-subscriber/src/registry/mod.rs
  tracing-subscriber/src/registry/sharded.rs
  tracing-subscriber/src/subscribe/context.rs
  tracing-subscriber/src/subscribe/layered.rs
  tracing-subscriber/src/subscribe/mod.rs
  tracing-subscriber/src/subscribe/tests.rs
  tracing-subscriber/tests/subscriber_filters/boxed.rs
Labels: crate/subscriber

subscriber: impl Subscribe for FilterFn and DynFilterFn (#1546)
  tracing-subscriber/src/filter/filter_fn.rs
  tracing-subscriber/src/filter/mod.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
Labels: crate/subscriber

subscriber: add example of Option<Subscribe> (#1596)
  tracing-subscriber/src/filter/targets.rs
  tracing-subscriber/src/subscribe/mod.rs
Labels: crate/subscriber

subscriber: make boxed subscribers not useless (#2023)
  tracing-subscriber/src/subscribe/mod.rs
Labels: crate/subscriber

subscriber: fix docs link to `Subscribe` impl for `Box`
  tracing-subscriber/src/subscribe/mod.rs
Labels: crate/subscriber

subscriber: fix `FmtSubscriber`'s auto traits inheriting `C`s (#2024)
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/subscribe/mod.rs
Labels: crate/subscriber

subscriber: add `Subscribe::boxed` method (#2026)
  tracing-subscriber/src/subscribe/mod.rs
Labels: crate/subscriber

subscriber: fix missing `register_callsite` for `Box<dyn Subscribe>` (#2028)
  tracing-subscriber/src/subscribe/mod.rs
Labels: crate/subscriber

subscriber: let `EnvFIlter`'s filter disabled help say help without ansi_term (#2029)
  tracing-subscriber/src/filter/env/mod.rs
Labels: crate/subscriber

subscriber: fix boxed subscriber not forwarding `max_level_hint` (#2030)
  tracing-subscriber/src/subscribe/mod.rs
Labels: crate/subscriber

subscriber: fix `Filtered::on_exit` calling `on_enter` by mistake (#2018)
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
Labels: crate/subscriber

subscriber: add `Filter::on_record` callback
  tracing-subscriber/src/filter/subscriber_filters/combinator.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
  tracing-subscriber/src/subscribe/mod.rs
Labels: crate/subscriber

subscriber: impl `Filter` for `EnvFilter` (#1983)
  tracing-mock/src/span.rs
  tracing-subscriber/Cargo.toml
  tracing-subscriber/src/filter/env/mod.rs
  tracing-subscriber/tests/env_filter/main.rs
  tracing-subscriber/tests/env_filter/per_subscriber.rs
Labels: crate/subscriber

subscriber: add `Subscribe` impl for `Vec<S: Subscribe>` (#2027)
  tracing-subscriber/src/subscribe/mod.rs
  tracing-subscriber/tests/subscriber_filters/main.rs
  tracing-subscriber/tests/subscriber_filters/vec.rs
  tracing-subscriber/tests/vec_subscriber_filter_interests_cached.rs
Labels: crate/subscriber

subscriber: Add `Filtered` and `fmt::Subscriber` accessors (#2034)
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
  tracing-subscriber/src/fmt/fmt_subscriber.rs
Labels: crate/subscriber

tracing: add `span_enabled!` and `event_enabled!` macros (#1900)
  tracing/src/macros.rs
  tracing/tests/enabled.rs
  tracing/tests/macros.rs
Labels: crate/tracing

subscriber: add `EnvFilter::builder`, option to disable regex (#2035)
  tracing-subscriber/src/filter/env/builder.rs
  tracing-subscriber/src/filter/env/directive.rs
  tracing-subscriber/src/filter/env/field.rs
  tracing-subscriber/src/filter/env/mod.rs
Labels: crate/subscriber

chore: fix Rust 1.60 warnings (#2056)
  tracing-error/src/lib.rs
  tracing-subscriber/src/filter/env/builder.rs
  tracing-subscriber/src/prelude.rs
  tracing-subscriber/src/registry/sharded.rs
  tracing-subscriber/src/subscribe/layered.rs
Labels: crate/subscriber

subscriber: fix empty string handling in `EnvFilter::builder().parse` (#2052)
  tracing-subscriber/src/filter/env/builder.rs
  tracing-subscriber/src/filter/env/mod.rs
Labels: crate/subscriber

update tracing appender readme (#2054)
  tracing-appender/README.md
Labels: none

subscriber: add inherent impls for `EnvFilter` methods (#2057)
  tracing-subscriber/src/filter/env/mod.rs
  tracing-subscriber/tests/env_filter/main.rs
Labels: crate/subscriber

subscriber: add missing `Filter::on_record` for to `EnvFilter` (#2058)
  tracing-subscriber/src/filter/env/mod.rs
Labels: crate/subscriber

journald: remove span field prefixes; add separate fields for span data (#1968)
  tracing-journald/src/lib.rs
  tracing-journald/tests/journal.rs
Labels: none

chore(ci): add a minimal-versions check (#2015)
  .github/workflows/check.yml
  tracing-core/Cargo.toml
  tracing-subscriber/Cargo.toml
Labels: crate/core, crate/subscriber
