Repository liuhaozhan/tracing, changes with the labels that .github/labeler.yml gives for each.
All labels: crate/tracing, crate/core, crate/proc-macros, crate/fmt, crate/futures, crate/log, crate/subscriber

subscriber: fix broken docs links (#1825)
  tracing-subscriber/src/fmt/mod.rs
  tracing-subscriber/src/subscribe.rs
Labels: crate/subscriber

journald: Set syslog identifier (#1822)
  tracing-journald/src/lib.rs
Labels: none

docs: don't state that `tracing-futures` is required (#1827)
  README.md
  tracing/README.md
Labels: crate/tracing

subscriber: fix leading comma with `Pretty` formatter (#1833)
  tracing-subscriber/src/fmt/format/pretty.rs
Labels: crate/subscriber

subscriber: add `Format::with_file` and `with_line_number` (#1773)
  examples/README.md
  examples/examples/fmt-source-locations.rs
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/fmt/format/json.rs
  tracing-subscriber/src/fmt/format/mod.rs
  tracing-subscriber/src/fmt/format/pretty.rs
  tracing-subscriber/src/fmt/mod.rs
Labels: crate/subscriber

appender: bump MSRV to 1.53.0 (#1851)
  .github/workflows/check_msrv.yml
  tracing-appender/Cargo.toml
  tracing-appender/README.md
Labels: none

subscriber: update thread_local to 1.1.4 (#1858)
  tracing-subscriber/Cargo.toml
Labels: crate/subscriber

docs: add sentry-tracing to README/docs (#1864)
  README.md
  tracing/README.md
  tracing/src/lib.rs
Labels: crate/tracing

opentelemetry: Update otel to 0.17.0 (#1853)
  .github/workflows/check_msrv.yml
  examples/Cargo.toml
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/README.md
  tracing-opentelemetry/benches/trace.rs
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/span_ext.rs
  tracing-opentelemetry/src/subscriber.rs
  tracing-opentelemetry/src/tracer.rs
  tracing-opentelemetry/tests/trace_state_propagation.rs
Labels: none

attributes: correctly instrument fns returning an async move block (#1866)
  tracing-attributes/src/expand.rs
  tracing-attributes/src/lib.rs
  tracing-attributes/tests/async_fn.rs
Labels: crate/proc-macros

tracing: add `enabled!` macro (#1821)
  tracing-core/src/metadata.rs
  tracing/src/macros.rs
  tracing/tests/enabled.rs
  tracing/tests/macros.rs
Labels: crate/tracing, crate/core

tracing: add static level tests for spans and instrumented fns (#1872)
  .github/workflows/check_features.yml
  tracing/test_static_max_level_features/Cargo.toml
  tracing/test_static_max_level_features/tests/test.rs
Labels: crate/tracing

tracing: fix macros "use of moved value" with log (#1823)
  tracing-core/src/field.rs
  tracing/benches/global_subscriber.rs
  tracing/src/lib.rs
  tracing/src/macros.rs
  tracing/test-log-support/tests/log_move_arg.rs
Labels: crate/tracing, crate/core

docs: fix typo in "ultimate question" example snippet (#1875)
  tracing/src/lib.rs
Labels: crate/tracing

opentelemetry: disable default tracing-log feature (#1869)
  tracing-opentelemetry/Cargo.toml
Labels: none

opentelemetry: revert "opentelemetry: disable default tracing-log feature (#1869)" (#1882)
  tracing-opentelemetry/Cargo.toml
Labels: none

flame: remove unused imports from README example (#1836)
  tracing-flame/README.md
Labels: none

core: change `metadata::Kind` to a bitflag (#1891)
  tracing-core/src/metadata.rs
Labels: crate/core

opentelemetry: prepare for 0.16.0 release (#1877)
  tracing-opentelemetry/CHANGELOG.md
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/README.md
  tracing-opentelemetry/src/lib.rs
Labels: none

subscriber: fix outdated formatter docs (#1893)
  tracing-subscriber/src/fmt/format/mod.rs
Labels: crate/subscriber

chore: update MSRVs from 1.42 to 1.49 (#1913)
  .github/workflows/check_msrv.yml
  README.md
  examples/Cargo.toml
  tracing-attributes/Cargo.toml
  tracing-attributes/README.md
  tracing-attributes/src/lib.rs
  tracing-core/Cargo.toml
  tracing-core/README.md
  tracing-core/src/lib.rs
  tracing-core/src/spin/once.rs
  tracing-error/Cargo.toml
  tracing-error/README.md
  tracing-error/src/lib.rs
  tracing-flame/Cargo.toml
  tracing-flame/README.md
  tracing-flame/src/lib.rs
  tracing-futures/Cargo.toml
  tracing-futures/README.md
  tracing-futures/src/lib.rs
  tracing-journald/Cargo.toml
  tracing-journald/README.md
  tracing-journald/src/lib.rs
  tracing-log/Cargo.toml
  tracing-log/README.md
  tracing-log/src/lib.rs
  tracing-macros/Cargo.toml
  tracing-opentelemetry/README.md
  tracing-opentelemetry/src/lib.rs
  tracing-serde/Cargo.toml
  tracing-serde/README.md
  tracing-serde/src/lib.rs
  tracing-subscriber/Cargo.toml
  tracing-subscriber/README.md
  tracing-subscriber/src/fmt/mod.rs
  tracing-subscriber/src/lib.rs
  tracing-tower/Cargo.toml
  tracing/Cargo.toml
  tracing/README.md
  tracing/src/lib.rs
Labels: crate/tracing, crate/core, crate/proc-macros, crate/futures, crate/log, crate/subscriber

journald: make `memfd_create` syscall directly (#1912)
  tracing-journald/src/memfd.rs
Labels: none

build(deps): update parking_lot requirement from 0.11.2 to 0.12.0 (#1878)
  tracing-appender/Cargo.toml
Labels: none

opentelemetry: forward event source locations (#1911)
  tracing-opentelemetry/src/subscriber.rs
Labels: none

opentelemetry: allocate fewer strings for recording events (#1917)
  tracing-opentelemetry/src/subscriber.rs
Labels: none

tracing: fix wrong log level in `warn!` macro (#1930)
  tracing/src/macros.rs
Labels: crate/tracing

docs: add `tracing-forest` to "Related Crates" section (#1935)
  README.md
  tracing/src/lib.rs
Labels: crate/tracing

docs: clean up `tracing_subscriber::fmt` formatter docs (#1927)
  tracing-subscriber/src/fmt/format/json.rs
  tracing-subscriber/src/fmt/format/mod.rs
  tracing-subscriber/src/fmt/format/pretty.rs
  tracing-subscriber/src/fmt/mod.rs
Labels: crate/subscriber

opentelemetry: fix broken build with `default-features = false` (#1949)
  .github/workflows/check_features.yml
  tracing-opentelemetry/src/subscriber.rs
Labels: none

appender: fixed typo in tracing-appender README example (#1943)
  tracing-appender/README.md
Labels: none

chore: add `cargo hack` check to `bin/publish` (#1950)
  bin/publish
Labels: none

subscriber: fix `clippy::map_flatten` lint (#1964)
  tracing-subscriber/src/fmt/format/mod.rs
Labels: crate/subscriber

attributes: use correct minimal version of `syn` (#1960)
  tracing-attributes/Cargo.toml
Labels: crate/proc-macros

build(deps): update inferno requirement from 0.10.0 to 0.11.0 (#1966)
  examples/Cargo.toml
Labels: none

tracing: reduce disabled span `Drop` overhead (#1974)
  tracing-core/src/dispatch.rs
  tracing/benches/no_subscriber.rs
  tracing/src/span.rs
Labels: crate/tracing, crate/core

chore: avoid giant feature powersets using `cargo-hack` (#1984)
  .github/workflows/check_features.yml
  bin/publish
Labels: none

appender: fix incorrect compare_exchange when rolling (#1989)
  tracing-appender/src/rolling.rs
Labels: none

subscriber: implement `Clone` for `filter::Directive` (#1985)
  tracing-subscriber/src/filter/env/directive.rs
  tracing-subscriber/src/filter/env/field.rs
Labels: crate/subscriber

journald: fix memfd_create_syscall for 32 bit targets (#1982)
  tracing-journald/src/memfd.rs
Labels: none

core: avoid unnecessary `format_args!` and `write!` macros (#1988)
  tracing-core/src/field.rs
Labels: crate/core

.github/labeler.yml:

crate/tracing: tracing/**
crate/core: tracing-core/**
crate/proc-macros: tracing-attributes/**
crate/fmt: tracing-fmt/**
crate/futures: tracing-futures/**
crate/log: tracing-log/**
crate/subscriber: tracing-subscriber/**
